# Скомпилированные исполняемые файлы
*.exe
*.out
*.app
1

# Промежуточные объектные файлы и базы данных сборщика
*.o
*.obj
*.pdb
*.ilk

# Временные файлы редакторов и офиса
.~lock.*
*.tmp
.vscode/
.zed/

# Папки сборки (CMake / Ninja)
build/
bin/
out/

# Документы и архивы
*.zip
*.docx
*.pdf
